body{
  margin: 0%;
  font-family: 'Delius', cursive;
}

section{
  height: 800px;
}

.color-white{
  color: white;
}

/* ------------1st banner------------------ */

.top-banner{
  background:linear-gradient(180deg,hsla(0, 0%, 100%, 0), hsl(0, 0%, 0%)), url(image/bg/first-banner-image.jpg), no-repeat, center;
  width: 100%;
  height: 1000px;
  background-size: 100%;
}

.first-div{
  padding: 300px;
  text-align: center;
  }

.first-h1{
  margin: 0%;
  font-size: 100px;
}
p{
  font-size: 30px;

}

.donate-button{
  text-decoration: none;
  background-image: linear-gradient(90deg, red, rgb(255, 166, 0));
  border-radius: 5px;
  padding: 25px 30px;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

/* ----------2nd banner-------------------- */

.height-1000{
  height: 1000px;
}

.second-div{
  padding: 200px 150px 200px 150px;
  text-align: center;
}

.second-h1{
  margin: 0%;
  font-size: 80px;
}

.amount{
  display: flex;
  padding-left: 20%;
  padding-right: 20%;
}

.money-box{
  padding-left: 25px;
}

.h1-tk{
  background-color: rgba(133, 133, 133, 0.356);
  text-align: center;
  color: gray;
  height: 75px;
  width: 125px;
  border: 3px solid transparent;
  border-radius: 10px;
  padding: 50px 30px 30px 30px;
  font-size: 40px;
}

.h1-tk-color{
  background-color: #ff59592d;
  text-align: center;
  color: gray;
  height: 75px;
  width: 125px;
  border: 4px solid #FF5959;
  border-radius: 10px;
  padding: 50px 30px 30px 30px;
  font-size: 40px;
}

.input-amount{
  padding-left: 23%;
  padding-right:22%;
}

.amount-input{
  border: none;
  outline: none;
  font-size: 30px;
  text-align: center;

}

.button-padding{
  padding-top: 30px;
}

/* -----------3rd banner------------------- */

.third-banner{
  text-align: center;
}

.third-h1{
  margin: 0%;
  font-size: 60px;
}

.third-h2{
  font-size: 30px;
}

.third-box{
  display: flex;
  padding-left: 7%;
  padding-right: 20%;
}

.thrid-icon-box{
  text-align: left;
  width: 450px;
  height: 400px;
  padding: 50px;
  background-color: rgba(128, 128, 128, 0.219);
  border-radius: 5px;
}


.third-padding{
  padding-left: 30px;
}

.third-color1{
  background-color: #4f9da617;
}

.third-color2{
  background-color: #ff59591e;
}

.third-color3{
  background-color: #b8bb0515;
}

/* -----------4th banner------------------- */

.half-width{
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-top: 20px;
  padding-left: 2%;
}

.forth-h1{
  padding-top: 40px;
  font-size: 70px;
  margin: 0%;
}

.p-4th{
  font-size: 20px;
}

.donation1{
  width: 100%;
}

/* -----------5th banner------------------- */



/* -----------6th banner------------------- */

.sixth-input{
  margin: 0%;
  font-size: 20px;
  height: 45px;
  width: 350px;
  border: none;
  outline: none;
  background-color: rgba(128, 128, 128, 0.171);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 7px 15px 7px 15px;
}

.button-adj{
  padding-top: 10px;
}

.sub-button{
  margin: 0px;
  text-decoration: none;
  background-image: linear-gradient(90deg, red, rgb(255, 166, 0));
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 10px 30px 10px 30px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  
}

.sixth-1-div{
  text-align: center;
}

.sixth-2-div{
  padding-left: 20%;
  padding-right: 20%;
  height: 200px;
}

.mail-div{
  display: flex;
  padding-top: 120px;
  background-color: #bb9a051f;
  height: 200px;
  border-radius: 2px;
  padding-left: 25%;
}

.sixth-h1{
  font-size: 70px;
  margin: 0%;
}

/* ---------footer-------- */

.footer-div{
  padding-top: 50px;
  height: 250px;
  background-color: black;
  text-align: center;
}

.footer-h1-color{
  font-family: 'Lobster', cursive;
  font-weight: 100;
  font-size: 50px;
  color: #FF5959;
}

.p-size{
  font-size: 17px;
}